body {
	font-family: 'Raleway', sans-serif;
}

header {
	background: #836FFF;
	padding: 10px 0;
	font-weight: bold;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 30px;
}

.titulo-pagina a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 10px;
	font-size: 50px;
}

table {
	margin: 50px auto 50px;
}

thead {
	background: #836FFF;
}

th, td {
	border: 0.5px solid #000000;
	padding: 6px 5px;
	text-align: center;
	font-size: 40px;
}

th {
	color: #FFFFFF;
	font-weight: bold;
}

.revista a {
	text-decoration: none;
	color: #000000;
}

.revista:hover {
	text-decoration: underline;
	color: blue;
	font-weight: 500;
	transition: 0.3s all;
}

footer {
	text-align: center;
	background: #836FFF;
	padding: 15px;
}

.copyright {
	color: #FFFFFF;
	font-size: 15px;
	margin: 10px 0;
}

