body {
	font-family: 'Raleway', sans-serif;
}

header {
	background: #836FFF;
	padding: 10px 0;
	font-weight: bold;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.titulo-pagina a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 10px;
}

table {
	margin: 20px auto 40px;
}

thead {
	background: #836FFF;
}

th, td {
	border: 0.5px solid #000000;
	padding: 8px 15px;
}

th {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 9px;
}

td {
	font-size: 9px;
}

footer {
	text-align: center;
	background: #836FFF;
	padding: 5px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 4px;
	margin: 10px 0;
}

